* {
  font-family: "Poppins", sans-serif;
}
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23242a;
}
.box {
  position: relative;
  width: 75%;
  height: 550px;
  background-color: #1c1c1c;
  border: 4px solid transparent;
  border-radius: 4px;
  animation: animateBorder 3s linear infinite;
  /* overflow: hidden; */
}
@keyframes animateBorder {
  0% {
    border-image: linear-gradient(90deg, #45f3ff, #ff2770) 1;
  }
  50% {
    border-image: linear-gradient(90deg, #ff2770, #45f3ff) 1;
  }
  100% {
    border-image: linear-gradient(90deg, #45f3ff, #ff2770) 1;
  }
}
.box form {
  position: absolute;
  inset: 4px;
  background-color: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.box form h1 {
  color: #45f3ff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.box form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 35px;
}
.box form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  border: none;
}
.box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 44px;
}
.box form .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box form .links a,
p {
  padding: 3px;
}
.box form .links a,
p {
  margin: 20px 0;
  font-size: 16px;
  color: #8f8f8f;
  text-decoration: none;
}
.box form .links a:hover {
  color: #fff;
  text-decoration: underline;
}
.signUp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23242a;
}
.box-signUp {
  position: relative;
  width: 75%;
  height: 650px;
  background-color: #1c1c1c;
  border: 4px solid transparent;
  border-radius: 4px;
  animation: animateBorder 3s linear infinite;
}

.box-signUp form {
  position: absolute;
  inset: 4px;
  background-color: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.box-signUp form h1 {
  color: #45f3ff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.box-signUp form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 35px;
}
.box-signUp form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  border: none;
}
.box-signUp form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.box-signUp form .inputBox input:valid ~ span,
.box-signUp form .inputBox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.box-signUp form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.box-signUp form .inputBox input:valid ~ i,
.box-signUp form .inputBox input:focus ~ i {
  height: 44px;
}
.box-signUp form .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-signUp form .links a,
p {
  margin: 20px 0;
  font-size: 16px;
  color: #8f8f8f;
  text-decoration: none;
}
.box-signUp form .links a:hover {
  color: #fff;
  text-decoration: underline;
}
